header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url("assets/adve.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
header {
    height: 160px;
    background-image: url(assets/Noitosfera.png)}
h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav li {
    display: inline;
    margin-right: 40px;}
nav li a {
    color: #ffffff;}
nav li a:hover, nav li a.current {
    color: #000000;}
section.lojinha {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
hgroup {
    margin-top: 40px;}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}
figcaption {
    font-size: 90%;
    text-align: left;}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}
aside section a:hover {
    color: #985d6a;
    background-color: #efefef;}
a {
    color: #e57561;
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
.button{
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
/*h3 {
    margin: 0px 0px 10px 0px;
    color: #fd8b3e;}*/
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #f46140;}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}
